$base-font-size: 16;

$font-family: "outfit", Tahoma, Geneva, Verdana, sans-serif;

$header-background-color: #164784;
$header-color: #fff;

$mainscreen-dark-background-color: #0a223f;
$mainscreen-light-background-color: #eae7e7;
$mainscreen-light-color: #000;
$mainscreen-dark-color: #fff;

$mainscreen__title-color: #675b5b;

$footer-background-color: #164784;
$footer-color: #fff;
