$base-font-size: 16;

$font-family: "outfit", Tahoma, Geneva, Verdana, sans-serif;

$header-background-color: #164784;
$header-color: #fff;

$mainscreen-dark-background-color: #0a223f;
$mainscreen-light-background-color: #eae7e7;
$mainscreen-light-color: #000;
$mainscreen-dark-color: #fff;

$mainscreen__title-color: #675b5b;

$footer-background-color: #164784;
$footer-color: #fff;

$mainscreen-success-background-color: #4caf50;
$mainscreen-success-text-color: #2a1f1f;
$mainscreen-success-header-text-color: lighten(
  $mainscreen-success-background-color,
  50%
);

$mainscreen-error-background-color: #f44336;
$mainscreen-error-text-color: #260909;
$mainscreen-error-header-text-color: lighten(
  $mainscreen-error-background-color,
  50%
);

$mainscreen-warning-background-color: #ff9800;
$mainscreen-warning-text-color: #3b0c0c;
$mainscreen-warning-header-text-color: lighten(
  $mainscreen-warning-background-color,
  50%
);

$mainscreen-info-background-color: #2196f3;
$mainscreen-info-text-color: #fff;
$mainscreen-info-header-text-color: darken(
  $mainscreen-info-background-color,
  50%
);
